{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb-base",
  "env": {
    "browser": true, 
    "node": true 
  },
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-env"]
    }
  }
}